nav {
  background-color: aqua;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #121212;
  font-size: 32px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.home .see-more {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
.home .see-more a {
  text-decoration: none;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.products .product {
  border: 2px solid #7777;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.products .product img {
  width: 300px;
  height: 300px;
}

.products .product button {
  padding: 10px;
  cursor: pointer;
}

.product-added {
  display: flex;
  padding: 10px;
  background-color: #999;
  margin: 10px auto;
  justify-content: space-between;
}

.product-added button {
  padding: 10px;
  width: 60px;
  cursor: pointer;
}
